<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="../styles/style.css">    
  </head>
  <body>

    <!-- <div class="header-left">
        <div class="w-25">
            <h4>Sashankh Parthasarathy</h4>
        </div>

        <ul class="m-0 header-right">
            <li>
                About
            </li>
            <li>
                Contact
            </li>
        </ul>
    </div> -->


    <div class="header">
        <div class="w-25 fl-left">
            <h2>TEDT</h2>
        </div>
        <div class="w-25 fl-right">
            <ul>
                <li>ABout</li>
                <li>Contact</li>
                <li>TEST</li>
            </ul>
        </div>
    </div>

    <div class="first-section">
        <h1>This is the first section of the website</h1>
    </div>

    <div class="row">
        <div class="column1">
            <h3>This is the second section of the website</h3>
        </div>
        <div class=column2>
            <h3>This is the second section of the website</h3>
        </div>
    </div>

    <div class="row">
      <div class="column" style="background:red">
        <h2>Column 1</h2>
      </div>
      <div class="column" style="background:blue">
        <h2>Column 2</h2>
      </div>
      <div class="column" style="background:green">
        <h2>Column 3</h2>
      </div>
      <div class="column" style="background:black">
        <h2>Column 4</h2>
      </div>
    </div>

    <div class="footer">
        <h3> SASHANKH PARTHASARATHY</h3>
    </div>
  </body>
</html>