
/*.header-left{
    float:left;
    margin-left: 25px;
}*/

* {
	margin: 0;
}

.m-0{
	margin: 0;
}

.w-25 {
	width: 25%;
}

.fl-right{
	float: right;
}

.fl-left{
	float: left;
}

ul li{
	list-style: none;
	float: left;
    font-weight: bold;
    margin-left: 20px;
    font-size: 22px;
}

.header{
	height: 55px;
}

.first-section {
	height: 500px;
	width: 100%;
	background: blue;
}

.column1 {
	float: left;
    width: 50%;
    height: 250px; 
    background: white;
}

.column2 {
	float: right;
    width: 50%;
    height: 250px; 
    background: black;
    color: white;
}

/* .column3, .column4, .column5, .column6{
	float: right; 
    width: 25%;
    height: 100px; 
    background: red;
    color: black;
} */

.column {
    float: left;
    width: 25%;
    height: 100px; 
    color: white;
}


.footer{
	height: 700px;
	width: 100%;
	background: white;
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 700px; 
}

